<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1053062087313-6q7beqhukm3i3vdre25l4tji04bb53dv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1053062087313-6q7beqhukm3i3vdre25l4tji04bb53dv</string>
	<key>API_KEY</key>
	<string>AIzaSyB4Ec3cVXxVnGdAkJHj9ggsWFhI-bpA39I</string>
	<key>GCM_SENDER_ID</key>
	<string>1053062087313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.localizationapp</string>
	<key>PROJECT_ID</key>
	<string>localizationapp-55c5c</string>
	<key>STORAGE_BUCKET</key>
	<string>localizationapp-55c5c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1053062087313:ios:c12dd60d4edd7a4fbef530</string>
</dict>
</plist>